{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="{%static "/css/style.css"%}" />
    
</head>
<body >
  <div class="container">
<div class="topbar">
  <div class="logo">
    <img src="{%static "image/logo.png" %}" alt="" width="180" />
  </div>
  <nav>
    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/gallary">Gallary</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>
<h1>About Us:</h1>
<img src="{%static "/image/banner.webp"%}" width="100%" height="400px">
<p style="font-size:1.5em;">Shrutika Institute is a Professional Software Courses Training Company like Python, Fullstack development, React Js, Node Js, UI Development, UI/UX Designing, Web designing, PHP with MySQL, Graphic Designing, Cloud Modules, SAP Modules etc. We Provide Training for Design Unique websites & Develop Web Application, Digital Marketing Solutions like SEO, SMM, PPC (Google Ads) and help businesses create their brand. Shrutika Institute  built a Relationship with students, who allows us to build up a tailored branding plan advance. ELearn Infotech offers Excellent Software Courses with end to end support to the candidates</p>

<p style="font-size:1.5em;">Shrutika Institute is a Professional Software Courses Training Company like Python, Fullstack development, React Js, Node Js, UI Development, UI/UX Designing, Web designing, PHP with MySQL, Graphic Designing, Cloud Modules, SAP Modules etc. We Provide Training for Design Unique websites & Develop Web Application, Digital Marketing Solutions like SEO, SMM, PPC (Google Ads) and help businesses create their brand. Shrutika Institute  built a Relationship with students, who allows us to build up a tailored branding plan advance. ELearn Infotech offers Excellent Software Courses with end to end support to the candidates</p>

<p style="font-size:1.5em;">Shrutika Institute is a Professional Software Courses Training Company like Python, Fullstack development, React Js, Node Js, UI Development, UI/UX Designing, Web designing, PHP with MySQL, Graphic Designing, Cloud Modules, SAP Modules etc. We Provide Training for Design Unique websites & Develop Web Application, Digital Marketing Solutions like SEO, SMM, PPC (Google Ads) and help businesses create their brand. Shrutika Institute  built a Relationship with students, who allows us to build up a tailored branding plan advance. ELearn Infotech offers Excellent Software Courses with end to end support to the candidates</p>

<p style="font-size:1.5em;">Shrutika Institute is a Professional Software Courses Training Company like Python, Fullstack development, React Js, Node Js, UI Development, UI/UX Designing, Web designing, PHP with MySQL, Graphic Designing, Cloud Modules, SAP Modules etc. We Provide Training for Design Unique websites & Develop Web Application, Digital Marketing Solutions like SEO, SMM, PPC (Google Ads) and help businesses create their brand. Shrutika Institute  built a Relationship with students, who allows us to build up a tailored branding plan advance. ELearn Infotech offers Excellent Software Courses with end to end support to the candidates</p>

</div>
</body>
</html>