{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="{%static "/css/style.css"%}" />
    
</head>
<body >
  <div class="container">
<div class="topbar">
  <div class="logo">
    <img src="{%static "image/logo.png" %}" alt="" width="180" />
  </div>
  <nav>
    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/gallary">Gallary</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>
<h1>Gallery</h1>
<div width="100%">
    <img src="{%static "/image/gal1.jfif"%}"  style="width:23%; height: 200px; padding: 12px;" class="fade-in-image">
    <img src="{%static "/image/gal2.png"%}" style="width:23%; height: 200px; padding: 12px;"class="fade-in-image">
    <img src="{%static "/image/gal3.png"%}" style="width:23%; height: 200px; padding: 12px;"class="fade-in-image">
    <img src="{%static "/image/gal4.jfif"%}" style="width:23%; height: 200px; padding: 12px;"class="fade-in-image">
</div>
<div width="100%">
    <img src="{%static "/image/gal5.jfif"%}"  style="width:23%; height: 200px; padding: 12px;" class="fade-in-image">
    <img src="{%static "/image/gal6.png"%}" style="width:23%; height: 200px; padding: 12px;"class="fade-in-image">
    <img src="{%static "/image/gal7.jfif"%}" style="width:23%; height: 200px; padding: 12px;" class="fade-in-image">
    <img src="{%static "/image/gal8.png"%}" style="width:23%; height: 200px; padding: 12px;"class="fade-in-image">
</div>
<div width="100%">
    <img src="{%static "/image/gal9.jfif"%}"  style="width:23%; height: 200px; padding: 12px;"class="fade-in-image" >
    <img src="{%static "/image/gal10.jfif"%}" style="width:23%; height: 200px; padding: 12px;"class="fade-in-image">
    <img src="{%static "/image/gal11.webp"%}" style="width:23%; height: 200px; padding: 12px;"class="fade-in-image">
    <img src="{%static "/image/gal12.jfif"%}" style="width:23%; height: 200px; padding: 12px;"class="fade-in-image">
</div>
</div>
</body>
</html>