{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="{%static "/css/style.css"%}" />
    
</head>
<body >
  <div class="container">
<div class="topbar">
  <div class="logo">
    <img src="{%static "image/logo.png" %}" alt="" width="180" />
  </div>
  <nav>
    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/gallary">Gallary</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>
<div>
  <img class="banner" src="{%static "/image/banner2.jpg"%}">
</div>
<h1 style="text-align: center;">Welcome to Shrutika Institute</h1>
<div class="p">
  <p>The Shrutika Institute is an independent non-profit project venture set up, run, and managed by OpenEDG, the Open Education and Development Group, to promote the Python programming language, train a new generation of Python programmers, and support professional careers in programming in Python and related technologies. In line with the strategic goals associated with the enhancement and development of careers in Python programming, OpenEDG Shrutika Institute provides an independent global framework for curriculum development, skills assessment, and Python programming high-stakes examinations.</p>
</div>
<h1 style="text-align: center;">Why to Choose Us?</h1>
<div style="width: 100%;  ">
  <img class="fade-in-image" src="{%static "/image/why1.png" %}" width="24.5%" height="250px">
  <img class="fade-in-image" src="{%static "/image/why3.jfif" %}" width="24.5%" height="250px">
  <img class="fade-in-image"src="{%static "/image/why4.jfif" %}" width="24.5%" height="250px">
  <img class="fade-in-image"src="{%static "/image/why2.jfif" %}" width="24.5%" height="250px">
</div>
</div>
</body>
</html>